body{
    background-color: #d7d5d3;
    font-family: cursive;
    overflow: scroll; /* При переполнении страницы внизу браузера появляется прокрутка */ 
}
button{
    font-family: cursive;
    background-color: #b6b6b6;
    border-width: 1px;
}
h1{
    line-height: 150%;
    display: inline-block;
    border: 1px;
    border-style: solid;
    width: 1000px;
    margin-top: auto;    
    text-align: center;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 28px;
    padding-bottom: 0.15%;
    
}
.header {
    display: block;    
    white-space: nowrap;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    

}
th{
    height: 90px;
    background-color: #b6b6b6;
    font-size: 14px;
    padding-left: 8px;
}
td{
    height: 90px;
    font-size: 14px;
    padding-left: 8px;
}
.Logout{ 
    line-height: 350%;
    font-family: 'Lucida Sans';
    vertical-align: bottom;
}

table{
    border-collapse: collapse;
}

select{
    width: 35%;
    height: 5.5%;
    margin-left: 1%;
    font-family: cursive;
}
a{
    line-height: 250%;
    padding-bottom: 0%;
    vertical-align: super;
    padding: 9px;
    padding-bottom: 0%;
    display:inline-block;
    border-style: none;
    font-size: 15px;
}
/* studentsList */
.a_aButton {
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    white-space: nowrap;
    margin-bottom: 30px;
}

.a{
    display: inline-block;
    vertical-align: top;    
}
.eeerrr{
    display: inline-block;
    margin-left: 9%;   
}
.e{
    display: inline-block;
    width: 400px;
}
.e11{
    line-height: 100%;
    padding: 9px;
}
.ee{
    display: inline-block;
    width: 400px;
}
.e22{
    line-height: 100%;
    width: 180%;
    padding: 9px;
}

.r{
    display: inline-block;
    width: 400px;
}
.r11{
    line-height: 80%;
    width: 120.5%;
    padding: 9px;
    display:inline-block;
}
.rr{
    display: inline-block;
    width: 400px;
    
}
.r22{    
    line-height: 79%;
    width: 115.8%;
    padding: 9px;
}
caption{
    text-align: left;
    margin-bottom: 1%;
    font-size: 19px;
} 
.studentsListTable{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/* studentProgress */
.navP{
    display: block;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.navP nav{
    display: inline-block;
}
.ST {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;       
}
.ST1 {
    width: 330px;
    text-align: right; 
}
.p1{
    margin-left: 6.5%;
    display: inline-block;
    text-align: left;
    font-size: 21px;
    padding-bottom: 1%;
}
.table1{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5%;
    text-align: left;
}
.table1 th{
    height: 30px;
    
}
.table1 td{
    height: 30px;
}
.th1{
    width: 10%;
}
.th2{
    width: 29%;
}
.th3{
    width: 33%;
}

.tableSelect{
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.qqq{
    display: inline-block;    
    width: 400px;
}
.table2{ 
    
    width: 100%;
}

.th11{
    width: 70%;
}

.Select{
    display: inline-block;    
    width: 550px;
    margin-left: 80px;
    font-size: 21px;
    vertical-align: top;
}
.button1{
    margin-left: 0.7%;
    width: 22%;
    height: 5.5%;
}

/* Student Modifying */
/* Student Creating */

.input1{   
    margin-bottom: 1.1%;
}
.input2{
    
    margin-bottom: 1.1%;
}
.input3{
    margin-bottom: 1.1%;
}
.input4{
    margin-bottom: 1.1%;
}
.button2{
    margin-left: 27.95%;
}

/* Title Page */
.a3{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: block;    
    white-space: nowrap;
}
.a3_1{
    padding-left: 0%;
}
.a3_2{
    padding-left: 35%;
}
.a3_3{
    padding-left: 38.2%;
    padding-right: 0%;
}

/* Disciplines’ List */
.p2{
    margin-left: 12.6%;
    display: inline-block;
    text-align: left;
    font-size: 21px;
    padding-bottom: 1%;
}
.tableButton{
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.Table3{
    display: inline-block;
    width: 400px;
    margin-right: 50px;
}
.table3 {
    width: 400px;
}
.button3{
    display: inline-block;
    vertical-align: top;
    width: 400px;
}
.button311{
    padding-left: 0%;
    padding-top: 0%;
}
.button3111{
    width: 200%;
    vertical-align: top;
    line-height: 200%;
    margin-bottom: 17%;
}
.button322{
    padding-left: 0%;
    padding-top: 0%;
}
.button3222{
    width: 105.5%;
    vertical-align: top;
    line-height: 200%;
    margin-bottom: 9%;
}
.button333{
    padding-left: 0%;
    padding-top: 0%;
}
.button3333{
    width: 132.5%;
    vertical-align: top;
    line-height: 200%;
}

/* Discipline Creating */
/* Discipline Modifying */
.input11{    
    margin-bottom: 1.1%;
}
.label1{
    font-size: 13px;
}
.input111{
    margin-left: 1.1%;
}
/* Terms List */
.Select1{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}
.select1{
    margin-left: 2%;
}
.tableButton1{
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.Table4{
    display: inline-block;
    width: 400px;
    margin-right: 50px;
}
.table4{
    width: 400px;
}
.button5{
    display: inline-block;
    vertical-align: top;
    margin-top: 2.5%;
}
.button511{
    padding-left: 0%;
    padding-top: 0%;
}
.button5111{
    width: 200%;
    vertical-align: top;
    line-height: 200%;
    margin-bottom: 17%;
}
.button522{
    padding-left: 0%;
    padding-top: 0%;
}
.button5222{
    width: 102.3%;
    vertical-align: top;
    line-height: 200%;
    margin-bottom: 9%;
}
.button533{
    padding-left: 0%;
    padding-top: 0%;
}
.button5333{
    width: 134.5%;
    vertical-align: top;
    line-height: 200%;
}
/* Term Creating */
.input22{    
    margin-bottom: 1.1%;
}
.input222{
    width: 192px;
    margin-left: 0.5%;
    margin-bottom: 1.1%;
}
.label22{    
    margin-bottom: 1.3%;
}
.label2{
    font-size: 13px;
}
.select2{
    font-size: 12px;
    margin-left: 1.2%;
    width: 200px;
}
.p3{
    display: inline-block;
    vertical-align: top;
    margin: 0%;
}
.button66{
    margin-left: 27%;
    width: 100px;
    font-size: 12px;
    line-height: 170%;
}
/* Student Persisting Error */
/* Discipline Persisting Error */
/* Term Persisting Error */
.p4{
    color: #ff0000;
    margin-left: 18%;
    margin-top: 2%;
    
}
